{erl_opts, [debug_info]}.

{deps, [
  {afunix, {git, "https://github.com/isvilen/afunix.git", {branch, "master"}}},
  {memfd, {git, "https://github.com/isvilen/memfd.git", {branch, "master"}}},
  {xkb, {git, "https://github.com/isvilen/xkb.git", {branch, "master"}}},
  {themes, {git, "https://github.com/isvilen/themes.git", {branch, "master"}}}
]}.

{pre_hooks, [{compile, "escript protocol/wlgen"}]}.

{post_hooks, [{clean, "escript protocol/wlgen clean"}]}.

{extra_src_dirs, ["examples"]}.
